# Environment Variables (secrets)
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
.venv/
env/
ENV/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Database
*.db
*.sqlite
*.sqlite3
chroma.sqlite3

# Temporary files
*.tmp
*.temp
.env.backup

# Vector DB (large files)
vector_db/
vector_db_*/

# Logs
*.log
logs/

# Uploaded docs (optional)
# documents/

testing_faqs

torch_wheels/


rag_evaluation_report_0.05_version1.csv
rag_evaluation_report_0.10_version1.csv
rag_evaluation_report_0.10_version2csv
rag_evaluation_report_0.25_version1.csv
rag_evaluation_report_0.25_version2.csv
rag_evaluation_report_0.05_final_version.csv
rag_intermediate_results.csv